<h2>Tutorial</h2>

<iframe width="100%" height="500px" src="https://www.youtube.com/embed/HgLLq7ybDtc" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

<button class="btn btn-warning" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
  Aanmelden Badge systeem
</button>

<div class="collapse" id="collapseExample">
  <div class="card card-body">
    <form>
      <div class="form-group">
        <input type="text" class="form-control" id='name' placeholder="Voornaam">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" id="nameTV" placeholder="t.v.">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" id="surename" placeholder="Achternaam">
      </div>
      <div class="form-group">
        <input type="email" class="form-control" id="exampleInputPassword1" placeholder="E-mailadres">
      </div>
      <div class="form-group">
        <label for="exampleFormControlFile1">Profiel foto</label>
        <input type="file" class="form-control-file" id="exampleFormControlFile1">
      </div>
      <button type="submit" class="btn btn-warning">Aanmelden</button>
    </form>
  </div>
</div>
