<div class="container h-100 d-flex">
  <div class="h-100 d-flex" id="stack">
    <div class="my-auto mx-auto">
      <h2>Labs for Labs</h2>
      <ul>
        <li>
          <a class="nav-link" href="#">Over</a>
        </li>
        <li>
          <a class="nav-link" href="#">Locaties</a>
        </li>
        <li>
          <a class="nav-link" href="#">Tutorial</a>
        </li>
        <li>
          <button class="col-12" (click)="logOut()">Log Uit</button>
        </li>
      </ul>
    </div>
  </div>      
</div>
