<div class="text-center">
  <div class="checkIcon">
    <span>
      <i class="fas fa-check"></i>
    </span>
  </div>
  <h3>Ingecheckt</h3>
  <p>Uw bent zojuist ingecheckt voor workshop 2.</p>
  <img class="avatar" src="../../assets/avatar.jpg" alt="">
  <p>Zoek je coach die je gaat begeleiden.</p>
  <a href="/index">
    <button type="button" (click)="closeDialog()" class="btn homepage-btn btn-primary" data-toggle="modal" data-target="#exampleModal">Terug naar hoofdscherm</button>
  </a>
</div>
