.selected{
    border: 5px groove rgb(255, 241, 115);
    }


#badgeGallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: baseline;
    align-content: flex-start;
    }

.galleryItem{
    margin:1%;
    }

app-sidebar{
    height: 90vh;
    overflow-x: hidden;
}