<div class="container">
  <div class="row">
    <div class="col-12 no-padding-left">
      <figure>
        <img class="img-thumbnail" src="assets/avatar.jpg" alt="">
      </figure>
      <p>Persoonlijke gegevens</p>
      <form>
        <div class="form-row">
          <div class="col-5">
            <input type="text" class="form-control" placeholder="Voornaam">
          </div>
          <div class="col-2">
            <input type="text" class="form-control" placeholder="Tussenvoegsel">
          </div>
          <div class="col-5">
            <input type="text" class="form-control" placeholder="Acternaam">
          </div>
        </div>
      </form>
      <h3>John Doe</h3>
    </div>
  </div>
</div>
<button type="button" class="btn btn-primary">Naar mijn account</button>
