.container, .row{
    height: 100%;
  }

.section1{
  background: url('../../../assets/homepage-vertical.png') 0% 0% no-repeat;
  height:85%;
  }

.section1 .btn-warning{
  margin-top: 1em;
  }

.col-12:first-child{
  margin-top: 0;
  }

.col-12{
  margin-top:1em;
  }

h1,h2,h3,h4,h5,h6,p{
  color: #525252;
  }

h2{
  text-align: center;
  }

p{
  text-align: justify;
  }
