ul{list-style: none;}

html{
    height: 100%;
}
body{
    background-color:#343a4086;
    height: 100%;
    overflow-y: hidden}

span, p, h2{
    color: #F5F5F5;
}

.thumb{
    width:150px;
    height:auto;
    border: 4px groove rgb(110, 160, 141);
    padding: 5px;
}

.thumb:hover{
    border: 5px groove #F5F5F5}

::-webkit-input-placeholder { text-align:right; }
input:-moz-placeholder { text-align:right; }