ul{list-style: none;}

.no-padding{padding:0;}
.no-padding-top{padding-top: 0;}
.no-padding-right{padding-right: 0;}
.no-padding-bottom{padding-bottom: 0;}
.no-padding-left{padding-left: 0;}
.no-margin{margin:0;}
.no-margin-top{margin-top: 0;}
.no-margin-right{margin-right: 0;}
.no-margin-bottom{margin-bottom: 0;}
.no-margin-left{margin-left: 0;}

html,
body{height:100%;}


.thumb{
    width:150px;
    height:auto;
    border: 4px groove rgb(195, 195, 212);
    padding: 5px;
}

.thumb:hover{
    border: 5px groove rgb(255, 241, 115)}

::-webkit-input-placeholder { text-align:right; }
input:-moz-placeholder { text-align:right; }