<ul class="nav justify-content-center border-bottom">
  <li class="nav-item col">
    <a class="nav-link active" href="#">
      <i class="fas fa-shield-alt"></i>
    </a>
  </li>
  <li class="nav-item col">
    <a class="nav-link" href="#">
      <i class="fas fa-user"></i>
    </a>
  </li>
  <li class="nav-item col">
    <a class="nav-link" href="#">
      <i class="fas fa-rss-square"></i>
    </a>
  </li>
  <li class="nav-item col">
    <a class="nav-link" href="/workshopDetail">
      <i class="fas fa-calendar-alt"></i>
    </a>
  </li>
  <!--<li class="nav-item col">-->
    <!--<a class="nav-link" href="#">-->
      <!--<i class="fas fa-bars"></i>-->
    <!--</a>-->
  <!--</li>-->
</ul>
