<div class="container text-center">
  <h5>Inchecken Workshop</h5>
  <span *ngIf="error" class="alert alert-danger">Uw code is onjuist. Probeer het opnieuw.</span>
  <form [formGroup]="formCheckCode" (ngSubmit)="addPost(formCheckCode.value)">
    <div class="form-group">
      <label for="checkinCode" class="col-form-label">Vul hieronder je code om in te checken.</label>
      <input formControlName="checkinCode" type="text" class="form-control" id="checkinCode">
    </div>
    <input type="submit" class="btn btn-primary" data-dismiss="modal" value="Submit Form" [disabled]="!formCheckCode.value">
  </form>
</div>
