.navbar{
    padding-left:0px;
    padding-right:0px;
}

#logo{
    width:10%;
}

li{
    text-align: center;
}
.container{
    padding-left: 0px;
}

#menu{
    margin-bottom:5%;
}

button{
    background-color:rgb(110, 160, 141);
    box-shadow: inset 0px, 15px, 0px #343a40;
}

.mI{
    width: 20%;
}