<header-menu class="no-padding-left"></header-menu>
<div class="card col-12">
  <img class="card-img-top" src="../../assets/workshop.png" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Workshop 1</h5>
    <p class="card-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
      Aenean commodo ligula eget dolor. Aenean massa.
      Cum sociis natoque penatibus et magnis dis parturient montes,
      nascetur ridiculus mus.</p>
    <ul class="nav flex-column">
      <li class="nav-item">
        <span class="icon">
          <i class="fas fa-user"></i>
        </span>
        <span>John Doe</span>
      </li>
      <li class="nav-item">
        <span class="icon">
          <i class="fas fa-building"></i>
        </span>
        <span>Stadslab Rotterdam</span>
      </li>
      <li class="nav-item">
        <span class="icon">
          <i class="fas fa-map-marker-alt"></i>
        </span>
        <span>Wijnhaven 101, Rotterdam</span>
      </li>
      <li class="nav-item">
        <span class="icon">
          <i class="fas fa-calendar-alt"></i>
        </span>
        <span>18 april 2018</span>
      </li>
      <li class="nav-item">
        <span class="icon">
          <i class="fas fa-clock"></i>
        </span>
        <span>14:00 - 16:30 H</span>
      </li>
    </ul>
    <a href="#" class="btn btn-warning">Meer details</a>
  </div>
</div>
<div class="card col-12">
  <img class="card-img-top" src="../../assets/workshop.png" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Workshop 2</h5>
    <p class="card-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
      Aenean commodo ligula eget dolor. Aenean massa.
      Cum sociis natoque penatibus et magnis dis parturient montes,
      nascetur ridiculus mus.</p>
    <ul class="nav flex-column">
      <li class="nav-item">
        <span class="icon">
          <i class="fas fa-user"></i>
        </span>
        <span>John Doe</span>
      </li>
      <li class="nav-item">
        <span class="icon">
          <i class="fas fa-building"></i>
        </span>
        <span>Stadslab Rotterdam</span>
      </li>
      <li class="nav-item">
        <span class="icon">
          <i class="fas fa-map-marker-alt"></i>
        </span>
        <span>Wijnhaven 101, Rotterdam</span>
      </li>
      <li class="nav-item">
        <span class="icon">
          <i class="fas fa-calendar-alt"></i>
        </span>
        <span>18 april 2018</span>
      </li>
      <li class="nav-item">
        <span class="icon">
          <i class="fas fa-clock"></i>
        </span>
        <span>14:00 - 16:30 H</span>
      </li>
    </ul>
    <a href="#" class="btn btn-warning">Meer details</a>
  </div>
</div>
<div class="card col-12">
  <img class="card-img-top" src="../../assets/workshop.png" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Workshop 3</h5>
    <p class="card-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
      Aenean commodo ligula eget dolor. Aenean massa.
      Cum sociis natoque penatibus et magnis dis parturient montes,
      nascetur ridiculus mus.</p>
    <ul class="nav flex-column">
      <li class="nav-item">
        <span class="icon">
          <<i class="fas fa-user"></i>
        </span>
        <span>John Doe</span>
      </li>
      <li class="nav-item">
        <span class="icon">
          <i class="fas fa-building"></i>
        </span>
        <span>Stadslab Rotterdam</span>
      </li>
      <li class="nav-item">
        <span class="icon">
          <i class="fas fa-map-marker-alt"></i>
        </span>
        <span>Wijnhaven 101, Rotterdam</span>
      </li>
      <li class="nav-item">
        <span class="icon">
          <i class="fas fa-calendar-alt"></i>
        </span>
        <span>18 april 2018</span>
      </li>
      <li class="nav-item">
        <span class="icon">
          <i class="fas fa-clock"></i>
        </span>
        <span>14:00 - 16:30 H</span>
      </li>
    </ul>
    <a href="#" class="btn btn-warning">Meer details</a>
  </div>
</div>
<div class="card col-12">
  <img class="card-img-top" src="../../assets/workshop.png" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Workshop 4</h5>
    <p class="card-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
      Aenean commodo ligula eget dolor. Aenean massa.
      Cum sociis natoque penatibus et magnis dis parturient montes,
      nascetur ridiculus mus.</p>
    <ul class="nav flex-column">
      <li class="nav-item">
        <span class="icon">
          <<i class="fas fa-user"></i>
        </span>
        <span>John Doe</span>
      </li>
      <li class="nav-item">
        <span class="icon">
          <i class="fas fa-building"></i>
        </span>
        <span>Stadslab Rotterdam</span>
      </li>
      <li class="nav-item">
        <span class="icon">
          <i class="fas fa-map-marker-alt"></i>
        </span>
        <span>Wijnhaven 101, Rotterdam</span>
      </li>
      <li class="nav-item">
        <span class="icon">
          <i class="fas fa-calendar-alt"></i>
        </span>
        <span>18 april 2018</span>
      </li>
      <li class="nav-item">
        <span class="icon">
          <i class="fas fa-clock"></i>
        </span>
        <span>14:00 - 16:30 H</span>
      </li>
    </ul>
    <a href="#" class="btn btn-warning">Meer details</a>
  </div>
</div>
